<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amap.api.loc">

    <application>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" />

        <receiver android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" />

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.amap.api.loc.fileProvider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_provider" />-->
        <!--</provider>-->

        <activity
            android:name=".PickviewActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent"/>

        <service android:name=".DaemonService" />

    </application>

</manifest>